# OS
.DS_Store

# Zephyr SDK and dependencies (installed via west)
zephyr_workspace/zephyrproject/

# Python virtualenv
zephyr_workspace/ble_test_env/

# Build artifacts
build/

# cache
zephyr_workspace/.cache